In [1]:
import pandas as pd
from common import DataLoader
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
# from scipy import stats
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

import seaborn as sns

pd.options.display.float_format = '{:.2f}'.format
sns.set_theme(color_codes=True)

In [2]:
dl = DataLoader('./data/stack-overflow-developer-survey-2021/survey_results_public.csv')
df = dl.df
# df = get_df()
df.head()

_start_pipeline:
  runtime=0:00:00.016298, end shape=(83439, 48)
_select:
  runtime=0:00:00.044495, end shape=(40627, 7)
_clean:
  runtime=0:00:00.425788, end shape=(40627, 173)
_remove_outliers:
  runtime=0:00:00.046388, end shape=(31610, 173)
_handle_missing:
  runtime=0:00:00.047311, end shape=(31610, 173)

,ConvertedCompYearly,EdLevel,Age1stCode,YearsCode,YearsCodePro,Age,Afghanistan,Albania,Algeria,Andorra,...,United Kingdom of Great Britain and Northern Ireland,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,"Venezuela, Bolivarian Republic of...",Viet Nam,Yemen,Zambia,Zimbabwe
0,51552.00,3.00,14.00,7.00,4.00,29.50,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,46482.00,2.00,14.00,12.00,5.00,29.50,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,77290.00,3.00,14.00,15.00,6.00,29.50,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,17748.00,2.00,7.50,6.00,2.00,29.50,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,46135.00,2.00,14.00,9.00,6.00,29.50,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [3]:
df.isna().sum()

ConvertedCompYearly                     0
EdLevel                                 0
Age1stCode                              0
YearsCode                               0
YearsCodePro                            0
                                       ..
Venezuela, Bolivarian Republic of...    0
Viet Nam                                0
Yemen                                   0
Zambia                                  0
Zimbabwe                                0
Length: 172, dtype: int64

In [4]:
df['Age1stCode'].value_counts()

14.00    17852
21.00     6837
7.50      4350
28.50     1609
39.50      507
49.50      207
4.00       160
59.50       70
16.31       10
65.00        8
Name: Age1stCode, dtype: int64

In [5]:
reg = LinearRegression()
label = 'ConvertedCompYearly'
labels = df[label]
train = df.drop([label], axis=1)

In [6]:
x_train, x_test, y_train, y_test = train_test_split(train, labels, test_size=0.2, random_state=1776)

In [7]:
reg.fit(x_train, y_train)

LinearRegression()

In [8]:
def performance(x, y, name):
    y_predict = reg.predict(x)
    rmse = (np.sqrt(mean_squared_error(y, y_predict)))
    r2 = r2_score(y, y_predict)

    print(name)
    print(f'  rmse={rmse}, r2={r2}')


performance(x_train, y_train, 'train')
performance(x_test, y_test, 'test')

train
  rmse=36075.19658034803, r2=0.5147006246622812
test
  rmse=36828.96845741448, r2=0.4878591317194213